/* Stiziles */

html, body {
  background: #fff;
}

/* main */

/*.main {
  width: 100%;
  height: 100%;
  background: #222222;
  color: #fff;
}

.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}*/


.button {
  padding: 20px;
  background: #333;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

.input-container {
  position: relative;
  width: 95%;

}

.input {
 display: inline-block;
 margin: 5px;
 width: 25%; 
 position: relative;
}
